<mat-card>
  <mat-card-header>
    <mat-card-title i18n>E dey?</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="apiLoaded | async">
      <google-map #map [options]="options" [center]="center" width="100%">
        <map-marker
          *ngIf="center"
          [position]="center"
          [options]="markerOptions"
        ></map-marker>
      </google-map>
    </div>
    <div class="text-center">
      <button
        (click)="record(true)"
        mat-fab
        color="primary"
        aria-label="Confam say power dey"
        i18n-aria-label
        i18n
      >
        E dey
      </button>
      <button
        (click)="record(false)"
        mat-fab
        color="warn"
        aria-label="Power no dey"
        i18n-aria-label
        i18n
      >
        At all
      </button>
    </div>

    <details>
      <summary>Debug</summary>
      <p>Device ID: {{ deviceId }}</p>
    </details>
  </mat-card-content>
</mat-card>
