<mat-card>
  <mat-card-header>
    <mat-card-title>E dey?</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="apiLoaded | async">
      <google-map #map [options]="options" [center]="center" width="100%">
        <map-marker
          *ngIf="center"
          [position]="center"
          [options]="markerOptions"
        ></map-marker>
      </google-map>
    </div>
    <div class="text-center">
      <button
        (click)="record(true)"
        mat-fab
        color="primary"
        aria-label="Example icon button with a filter list icon"
      >
        Yes
      </button>
      <button
        (click)="record(false)"
        mat-fab
        color="warn"
        aria-label="Example icon button with a filter list icon"
      >
        No
      </button>
    </div>
  </mat-card-content>
</mat-card>
